* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu {
    box-shadow: 0 0 10px;color: #5E3BEE;
}

.menu ul li a {
    padding: 0 25px !important;
}

.menu img {
    width: 150px;
}

.menu-btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    padding: 18px 30px;
    color: #5E3BEE;
    border: 2px solid #5E3BEE;
    border-radius: 5px;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px
}

.hero_img {
    width: 100%;
    margin-top: -40px;
}

.hero_text h4 {
    font-size: 21px;
    font-family: Roboto;
    font-weight: 600;
    color: #282938;
    margin-bottom: 21px;
}

.hero_text h1 {
    font-size: 54px;
    font-family: Roboto;
    font-weight: 700;
    color:#282938;
    margin-bottom: 21px;
}

.hero_text h1 span {
    color:#5E3BEE;
}

.hero_text p {
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    color: #1C1E53;
    margin-bottom: 32px;
    padding-right: 100px;
}

.hero_text button {
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    padding: 18px 30px;
    color: #fff;
    border: 2px solid #5E3BEE;
    border-radius: 5px;
    background-color: #5E3BEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px

}

#hero {
    padding: 133px 0;
    background-color: #F5FCFF;
}


#skills {
    padding: 149px 0;
    
}

.skill_top {
    padding-bottom: 106px;
}


.skill_top h5 {
    font-size: 21px;
    font-family: Roboto;
    font-weight: 600;
    color: #282938;
}


.skill_top h3 {
    font-size: 64px;
    font-family: Roboto;
    font-weight: 700;
    color: #282938;
    margin-top: 21px;
}


.skill-item {
    transition: .5sec;
    border-bottom: 4px solid #f7f7f7;
    background-color: #F5FCFF;
    padding: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px

}
.skill-item:hover {
    border-bottom: 4px solid #5E3BEE;
}


.skill-item h4{
    margin-top: 32px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    color: #282938;
}


.skill-item p {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    color: #1C1E53;
}

#About{
    padding: 130px 0px;
}

.about-img img {
    width: 100%;
}

.about-text h6 {
    font-size: 21px;
    font-family: Roboto;
    font-weight: 600;
    color: #282938;
    margin-bottom: 2px;
}

.about-text h3 {
    font-size: 55px;
    font-family: Roboto;
    font-weight: 700;
    color: #282938;
    margin-bottom: 25px;
}


.about-text p {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    color: #1C1E53;
   
}

#Portfolio{
    padding: 139px;
    
}

.portfolio_top {
    margin-bottom: 80px;
}
    
.portfolio_top h5{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    color: #282938;
}


.portfolio_top h3{
    font-family: Roboto;
    font-size: 75px;
    font-weight: 700;
    color: #282938;
    margin-top: 21px;
}


.port_btn {
    background-color:#E62872 ;
    padding: 21px;
    color: #fff;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.port_btn i {
    margin-right: 8px;
}

.port_item {
    box-shadow: 0 0 20px;
}
.port_item img {
    width: 100%;
}
.pi_text {
    padding: 32px;
}

.pi_text h5 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    color: #282938;
}
.pi_text p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #1C1E53;

}

.pi_text a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 10px;
    border-bottom: 2px solid #5E3BEE;
}

.pi_text i {
    transform: rotate(-45deg);
}

#Testimonials {
    padding: 149px;
    background-color: #F5FCFF;
    
}

.test_item {
    border-radius: 7px;
    width: 400px;
    height: 450px;
    border: 2px solid #006B6A;
    padding: 42px
     
}


.test_top h5 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 21px;
    color: #282938;
    margin-bottom: 21px;
}

.test_top h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 55px;
    color: #282938;
    margin-bottom: 80px;
}

.test_item i {
    color: #006B6A;
    margin-bottom: 42px;
}

.test_item p {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 42px;
}

.reviewer {
    display: flex;
    gap: 21px;
    align-items: center;
    
}

.reviewer img {
    width: 75px;
    height: 75px;
}

.reviewer h2 {
    font-family: Roboto;
    font-size: 21px; 
    font-weight: 600;
}

.reviewer h3 {
    font-family: Roboto;
    font-size: 21px; 
    font-weight: 400;
}

.row2 {
    display: flex;
    gap: 42px;
}

#contact {
    padding: 100px 0px ;
    
}

.contact_top {
    margin-bottom: 64px;
}


.contact_top h4 {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 21px;
}

.contact_top h2 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 21px;
}

.contact_top p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: #1C1E53;
}


.user{
    display: flex;
    justify-content: space-between;
}

.user input {
    box-shadow: 0 0 8px;
    width: 300px;
    border: 2px solid #5E3BEE;
    height: 55px;
    outline: none;
    border-radius: 8px;
}

form label {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    color: #282938;
}


form select {
    width: 100%;
    height: 44px;
    border: 2px solid #5E3BEE;
    border-radius: 8px;
}


form textarea {
    width: 100%;
    height: 150px;
    border: 2px solid #5E3BEE;
    border-radius: 8px;
    outline: none;
    padding: 16px;
}

.check_label {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    color: #282938;
}


.checkbox_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form_btn {
    display: flex;
    justify-content: center;

}
.form_btn button {
    padding: 18px 51px;
    color: #fff;
    background-color: #5E3BEE;
    border-radius: 7px;
    border: none;
    margin-top: 40px;
    margin-bottom: 50px;

}

.icons i {
    margin-left: 20px;
    
}